*{
    margin: 0;
    box-sizing: border-box;
}

/* mobile */
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.big{
    height: 50%;
    width: 100%;
    background-color: #d09df5;
    border: solid 2px black;
    text-align: center;
    
}

.small {
    height: 25%;
    width: 50%;
    border: solid 1px black;
    text-align: center;
}

.bgcolor1 {
    background-color: #9267c7;
}

.bgcolor2{
    background-color: #c498fa;
}

.bgcolor3{
    background-color: #ceb7eb;
}

.bgcolor4{
    background-color: #ea9aed;
}
.bgcolor5{
background-color: #e85ced;
}

/* didesniam eranui nei mobilus */

@media (min-width: 480px){

    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50vh;
        width: 100vw;
    }
    .big{
        height: 100%;
        width: 50%;
        background-color: #6b5d3e;
    }

    .small{
        height: 50%;
        width: 25%;
    }

    .bgcolor1 {
        background-color: #edbf5c;
    }
    
    .bgcolor2{
        background-color: #fabb34;
    }
    
    .bgcolor3{
        background-color: #ffe2a3;
    }
    
    .bgcolor4{
        background-color: #fcf0d7;
    }
    .bgcolor5{
    background-color: #b5800d
    }

}